.wy-side-nav-search {
  background-color: rgba(255,255,255,.95);
}

.bd-header .navbar-header-items__start {
  flex-shrink: unset !important;
}

.navbar-brand {
  flex-shrink: unset !important;
  margin-right: 15px;
}
